header
{
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

body{
    background-color: #f1f1f1;
}

footer{
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.contact-info{
    text-align: right;
    font-family: serif;
}